<div class="sample-list-view">
    <h4>This is a sample view</h4>
    <p>
        You can do anything you want in a component view including using other components
        or using data from OData. Generally, within the configuration area you'd make use
        of the core base classes, but to do so, you will need to build server-side OData endpoints
        and Commands since the base classes and components expect them to exist and leverage them
        fully. You may also customize the style of this view by creating or editing less files in
        the src/less directory.
    </p>
</div>